.form-container{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.form-div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.f-link{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 10px;
}
.f-link h4 a{
    color: #F4F8F7;
    text-decoration: none;
    background-color: #3F7E54;
    padding: 2px 5px;
    border-radius: 5px;
}
.f-link h4 a:hover{
    background-color: #3F7E5450;
}
.disabled-link{
    opacity: 0.5;
    background-color: #e8f0ed;
    padding: 2px 5px;
    border-radius: 5px;
    cursor: default;
}
.or{
    margin: 0 10px;
}
.form{
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 30px;
}
form input{
    background-color: #e8f0ed;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    padding: 5px 10px;
}
#button{
    background-color: #3F7E54;
    margin-top: 20px;
    width: 100%;
    border: none;
    font-size: 16px;
    padding: 5px 10px;
    color: #e8f0ed;
    border-radius: 5px;
}
#button:hover{
    background-color: #3F7E54;
}
form input:focus{
    outline: none;
}
.side-content{
    width: 600px;
    height: 100%;
    border-radius: 5px;
    background-color: #3F7E54;
}