*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    background-color: #F4F8F7;
    padding: 10px;
}
.nav{
    background-color: #3F7E54;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}
.logo{
    flex-grow: 1;
    flex-basis: 0;
    height: 100%;
}
.nav-list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 0;
    height: 100%;
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
nav ul li{
    margin: 0 10px;
}
nav a{
    text-decoration: none;
    color: #F4F8F7;
    height: 100%;
}
nav a:hover{
    text-decoration: underline;
}
.account{
    flex-grow: 1;
    flex-basis: 0;
    height: 100%;
    align-items: center;
}
.account ul{
    display: flex;
    justify-content: flex-end;
}
